<div class="container">
  <div class="row pt-5">
    <div class="col-md-10 mx-auto">
      <% if user_signed_in? %>
        <%= link_to "新規投稿ページへ", new_great_path, class:"btn btn-outline-white bg-white font-weight-bold text-secondary float-right mb-5"%>
      <% end %>
      <% @greats.each do |greats| %>
        <table class="table table-borderless text-black card">
          <div class="great_rank">
            <%= render 'users/postscard', greats: greats %><!--ユーザーの投稿一覧をカードにし部分テンプレート化-->
              </td>
          </div>
        </table>
      <% end %>
    </div>
  </div>
</div>