<div id="favorite-index">
    <% if great.favorited_by?(current_user) %>
      <%= link_to(great_favorites_path(great), remote:true, class:"text-danger heart-red", method: :delete) do %>
      <i class="fa fa-heart" aria-hidden="true"></i><%= great.favorites.count %>
    <% end %>
    <% else %>
    <%= link_to(great_favorites_path(great), remote:true, class:"text-primary heart-red", method: :post) do %>
    <i class="fa fa-heart" aria-hidden="true"></i><%= great.favorites.count %>
  <% end %>
  <% end %>
</div>