<%= form_with(url: search_greats_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :name, placeholder: "偉人名を入力", class: "js-text_field form-control" %>

<% end %>
  <% if @great_rank.length >= 1 %>
    <div class="js-messages h3">
    </div>
<% else %>
<% end %>