<div>
   <thead>
     <tr>
       <th></th>
       <th>偉人名</th>
       <th>見出し</th>
       <th></th>
     </tr>
  </thead>

    <tbody class="card">
      <tr>
        <td><%= attachment_image_tag user.great, :great_image, :fill, 100, 100, fallback:"Unkown_account.jpg" %></td>
        <td><%= link_to(user.great.name,"/greats/#{user.great.id}") %></td>
        <td><%= user.great.head %></td>
     </tr>
    </tbody>
</div>




