<div class="container">
    <div id="image-slider">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
    </div>
  </div>
  <div class="row mb-5">

    <div class="col-md-10 mx-auto">
      <h1 class="mt-4 mb-5">
        <strong>The way of Grate.</strong>
      </h1>
      <h1 class="d-inline">The way of Grate</h1>
      <h1 class="d-inline">は悩める全ての人へ</h1>
      <h1 class="mt-3">助けになればと制作されたWebサイトです。</h1>
      <h1>きっとあなたの悩みはあなただけの悩みではない。</h1>
    </div>

    <h1 class="col-md-5 mt-5"><strong>Qand A.</strong></h1>
    <div class="col-md-12 mt-5 mx-auto d-flex">
      <div class="card col-md-6">
        <div class="card-header">
          なぜ他のアカウントでも自分の投稿が編集可能なのでしょう？
        </div>
        <div class="card-body">
          <blockquote class="blockquote m-1">
           <p>より良い投稿をユーザー同士で作り上げていくことを願い</p>
           <p>編集をフリーとしています。</p>
          </blockquote>
        </div>
      </div>

      <div class="card col-md-6 ml-5">
        <div class="card-header">
          投稿の削除ができません
        </div>
        <div class="card-body">
          <blockquote class="blockquote m-1 ">
           <p>投稿の削除は最初に投稿したユーザーが</p>
           <p>権限を持つ形になってしまうため用意しておりません
           <p>編集で解決しない場合、お問い合わせ機能をご利用下さい。</p>
          </blockquote>
        </div>
      </div>
    </div>

  </div>
</div>