<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="d-inline"><strong>The way of Grate.</strong></h2>
            <h3 class="d-inline ml-2">へようこそ！</h3>
            <h3 class="mt-2">あなたの道を照らすような</h3>
            <h3>出会いがありますように</h3>
            <div class="col-md-5, mx-auto">
                <%= link_to "Log in", user_session_path, class:"btn btn-block btn-secondary mt-5" %>
                <%= link_to "新規登録", new_user_registration_path, class:"btn btn-block btn-secondary mt-4" %>
            </div>
        </div>
    </div>
</div>
