<div class="container">
  <div class="row">
     <div class="col-md-8">
      <div class="mt-5">
        <h1>お問い合わせ完了</h1>
        <h3>お問い合わせいただきありがとうございます。</h3>
        <h3>送信して頂いたメールの内容を元にサービス向上に役立て参ります。</h3>
      </div>
    </div>
  </div>
</div>