/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// html,body {
//   height: 100%;
//   letter-spacing: .03rem;
//   font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
// }

body {
  background-color: #222222;
  color: white;
  font-family: 'Playfair Display', serif;
}

.container {
  // background-color: #444444;

}


#image-slider{
  height: 510px;
  background-position: center;
}

.image1 {
  background-image: image-url("test1.jpg");
}
.image2 {
  background-image: image-url("test2.jpg");
}
.image3 {
  background-image: image-url("test3.jpg");
}
.image4 {
  background-image: image-url("test4.jpg");
}

// td {
//   background-color: #000000;
// }

// tr {
//   background-color: #000000;
// }

.card-erements {
  font-family: '游ゴシック体';
}


@media(max-width: 1000px){
  .card{
    font-size: 90% !important;
  }
  .card a{
    font-size: 70% !important;
  }
  .card td h5{
    font-size: 13px !important;
  }
}

@media(max-width: 600px){
  .card{
    font-size: 83% !important;
  }
  .card a{
    font-size: 60% !important;
  }
  .card td h5{
    font-size: 13px !important;
  }
  .card-elements {
    width: 300%;
  }

  .rank_image {
    width: 20px !important;
    height: 20px !important;
  }

   h4 {
    font-size: 15px !important;
  }

  h3 {
    font-size: 18px !important;
  }


}