// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media(max-width: 365px) {
 .card img{
   height: 50px;
   width: 60px;
 }

 .card {
   height: 200px;
   width: 30px;
 }
}

.card a {
  height: 20px;
  width: 20px;
}