<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <% @users.each do |user| %>
      <table class="table">
        <thead>
          <tr>
            <th>ユーザーID</th>
            <th>ユーザーネーム</th>
            <th>メールアドレス</th>
            <th>会員ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, edit_user_path(user.id)%></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_delete == false %>
                <h6 class="text-success col-md-8 mx-auto">有効</h6>
              <% else %>
                <h6 class="col-md-8 mx-auto">退会</h6>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>